# Python
__pycache__/
*.py[cod]
*.py[cod]?.py
*.egg-info/

# Virtual Environment
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Logs
logs/

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
